page-call-name {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  dl{
    margin: 20px 26px;
    width: 80px;
    float: left;
  }
  dd{
    color: #fff;
    text-align: center;
    margin: 10px 0;
  }
  .call-stu-header-img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 3px solid #fff;
    margin: 0 auto;
    display: block;
  }
  .call-stu{
    border: 3px solid #1aa7b8;
  }
  .call-stu-name{
    color: #1aa7b8;
  }
  .center-box{
    height: 500px;
    overflow-y: scroll;
    margin: 50px auto 30px;
  }
  .btn-box{
    width: 485px;
    margin: 30px auto 0;
    button{
      font-size: 18px;
      color: #fff;
      text-align: center;
      line-height: 50px;
      height: 50px;
      width: 200px;
      margin: 0 20px;
      border-radius: 50px;
      padding-left: 35px;
      &:nth-child(1){
        background: url("../../assets/img/sjfz.png") no-repeat 45px 12px #25aaba;
      }
      &:nth-child(2){
        background: url("../../assets/img/qd.png") no-repeat 45px 12px  #0085b2;
      }
    }
  }
  .animate-img{
    animation:img-scale 500ms;
  }
  @keyframes img-scale{
    0%{
      transform:scale(1,1);
      -ms-transform:scale(1,1);
      -moz-transform:scale(1,1);
      -webkit-transform:scale(1,1);
      -o-transform:scale(1,1);
    }
    50%{
       transform:scale(1.2,1.2);
       -ms-transform:scale(1.2,1.2);
       -moz-transform:scale(1.2,1.2);
       -webkit-transform:scale(1.2,1.2);
       -o-transform:scale(1.2,1.2);
    }
    100%{
      transform:scale(1,1);
      -ms-transform:scale(1,1);
      -moz-transform:scale(1,1);
      -webkit-transform:scale(1,1);
      -o-transform:scale(1,1);
    }
  }
}
