<ion-header>
  <ion-navbar color="dark">
    <ion-title>QQ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">
  <!--<div style="background-color: #242A42;padding-top: 5px;padding-left: 18px;position:fixed;width: 100%;z-index: 1">-->
    <!--<img src="assets/img/tuceng-28x2.png" height="30" width="30"/>&nbsp;&nbsp;-->
    <!--<h3 style="color: #A8B3CB;vertical-align:top;margin-top:1px;display:inline-block;font-weight: 300">百度贴吧</h3>-->
    <!--<img src="assets/img/tuceng-30x2.png" height="26" width="28"-->
         <!--style="float:right;display:inline-block;margin:2px 15px 0px 0px"/>-->
    <!--<img src="assets/img/tuceng-29x2.png" height="28" width="24"-->
         <!--style="float:right;display:inline-block;margin:2px 25px 0px 0px"/>-->
  <!--</div>-->
  <!--<div style="margin: 0px -10px 68px -10px">-->
    <!--<h2 style="font-weight: 400;margin: 55px 0px 20px 27px">事件名称</h2>-->
    <!--<ion-card *ngFor="let item of items">-->
      <!--<ion-item>-->
        <!--<ion-avatar item-start>-->
          <!--<img src="{{item.tx_img}}">-->
        <!--</ion-avatar>-->
        <!--<h2>{{item.name}}</h2>-->
        <!--<p>{{item.floor}} | {{item.time}}</p>-->
      <!--</ion-item>-->
      <!--<img src="{{item.nr_src}}">-->
      <!--<ion-card-content>-->
        <!--<p>{{item.nr}}</p>-->
      <!--</ion-card-content>-->
    <!--</ion-card>-->
  <!--</div>-->
  <!--<div *ngIf="isShow">-->
    <!--<div-->
      <!--style="background-color: #000;position:fixed;left: 30%;top: 38%;height: 20%;width: 40%;opacity: 0.6;border-radius: 5px; "></div>-->
    <!--<div style="position:fixed;left: 30%;top: 38%; ">-->
      <!--<img src="assets/img/yuyin-5.png" height="65" width="90" style="margin: 22px 0px 10px 35px;"/>-->
      <!--<br>-->
      <!--<label style="color: white;margin-left: 5px"> 正在收录语音,保持长按</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div style="position:fixed;bottom: 0px;background-color: #EFEFEF;width: 100%;">-->
    <!--<img src="{{src}}" height="38" width="52"-->
         <!--style="display:inline-block;margin: 0px 10px -14px 10px;" (touchstart)="mousedownd();" (touchend)="mouseup();"/>-->
    <!--<input type="text"-->
           <!--style="height:40px;display:inline-block;margin: 10px 10px 8px -1px;vertical-align:top; border-radius:5px; border: 0;width:215px"/>-->
    <!--<button on-tap="onTap();"-->
            <!--style="background-color: #2D3451;color: white;width:70px;height: 40px;display:inline-block;margin: 10px 5px 5px 1px;border-radius:5px">-->
      <!--发送-->
    <!--</button>-->
  <!--</div>-->
  <div style="background-color: black;background: rgba(0,0,0,0.5);border-radius: 1em;margin-top: 10px;width: 50%;height: auto;">
    <div style="background-color: white;border-radius: 0.5em;height:60px;width:60px">
    <img src="../../assets/img/bdtb.png" height="44" width="41" style="margin: 8px 0px 0px 9px"/>
    </div>
    <h1 style="color:white;float: left;margin: -45px 0px 0px 80px;">贴吧圣诞舞会</h1>
      <hr style="background-color: white">
    <h2 style="color:white">贴吧圣诞舞蹈大会开始征集了</h2>
  </div>
</ion-content>
