<ion-content #ion_content class="cards-bg social-cards">
  <div #topBox class="top_box">
    <div class="div_img">
      <img src="assets/img/qqun.png"/>
    </div>
    <div class="div_title">
      <span>{{title}}</span>
    </div>
    <hr style="background-color: white;width: 95%;margin: 5px 0px 0px 25px;display: inline-flex;">
    <p class="p_content">{{content}}</p>
  </div>

<div style="padding: 20px 0 50px;overflow: hidden;">
  <!--<div class="float-l" *ngFor="let item of items;let n=index;">-->
    <!--<div style="overflow: hidden;height: 80px;width: 80%;margin: 10px auto 0;">-->
      <!--<img class="float-l" [src]="item.imagePath?getFullPath(item.imagePath):'assets/img/teacher.jpg'"  style="width: 80px;height: 80px"/>-->
      <!--<div class="float-l" style="color:white; margin:18px 20px;">-->
        <!--<span style="font-size: x-large">{{item.userName}}</span>-->
        <!--<span style="font-size: medium;padding-left: 10px">{{item.role_name}}</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div style="overflow: hidden;width: 80%;margin: 10px auto 0;">-->
      <!--<div class="float-l"-->
           <!--style="background-color: black;background: rgba(0,0,0,0.5);border-radius: 1em;margin: 0 100px;width: 43%;height: auto;">-->
        <!--<h5 style="color:#F5F5F5;margin: 15px 25px 15px 25px;display: inline-block;">{{item.answer}}</h5>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="float-l" style="width: 100%;" *ngFor="let item of items;let n=index;">
    <div style="overflow: hidden;height: 80px;margin: 10px 10% 0;width: 80%;">
      <img class="float-l" [src]="item.imagePath?getFullPath(item.imagePath):'assets/img/teacher.jpg'"  style="width:70px;height: 70px;border-radius: 70px;border: 1px solid #fff;"/>
      <div class="float-l" style="color:white; margin:18px 20px;">
        <span style="font-size: 22px;">{{item.userName}}</span>
      </div>
    </div>
    <div style="overflow: hidden;width: 80%;margin: -15px 92px 0;">
      <div class="float-l" style="background-color: black;background: rgba(0,0,0,0.5);border-radius: 7px;margin: 0 100px;height: auto;color: #fff;padding: 10px 15px;font-size: 18px;">
        {{item.answer}}
      </div>
    </div>
  </div>
</div>
</ion-content>
