page-pad-group-list {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  .center{
    margin: 20px auto 50px;
  }
  .group-list-box{
    height: 61px;
    border-bottom: 1px solid #333;
    color: #ddd;
    width: 100%;
    float: left;
    margin: 50px 0 0;
    .group-list{
      height: 60px;
      background: rgba(0,0,0,0.5);
      border-radius: 5px 5px 0 0;
      width: 35%;
      margin-left: 10px;
      line-height: 60px;
      .head-icon{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        overflow: hidden;
        background: #fff;
        margin: -10px 0 0 10px;
        img{
          width: 50px;
          height: 50px;
          margin: 5px;
        }
      }
      .group-name{
        margin: 0 5px 0 10px;
      }
      .group-num{
        margin: 0 5px;
        color: #ffdc73;
      }
      .add-icon{
        width: 30px;
        height: 30px;
        margin: 10px;
      }
    }
  }
  .choice-class{
    border: 1px solid #1aa7b8;
    border-radius: 3px;
    background: rgba(0,0,0,0.5);
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #1aa7b8;
    width: auto;
    float: left;
    position: relative;
    margin:25px 15px 0 0;
  }
  .stu-box{
    margin: 10px;
    overflow: hidden;
    clear: both;
    height: 0px;
  }
  .stu-show{
    height: auto;
  }
}
