<ion-header>
  <ion-navbar color="dark">
    <ion-title>SG PLATFORM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="center">
    <div *ngFor="let item of list;let i = index;">
      <div class="group-list-box">
        <div class="group-list float-l">
          <div class="float-l head-icon">
            <img src="{{item.img}}"/>
          </div>
          <div class="float-l group-name">{{item.name}}</div>
          <div class="float-l group-num">{{item.num}}/{{item.num}}</div>
        </div>
        <img src="{{imgShow}}" style="margin-top: 18px;" (click)="showCour(i)" class="float-r"/>
      </div>
      <div class="stu-box stu-show">
        <div class="choice-class" *ngFor="let stu of item.student">
          {{stu.name}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
