<ion-header>
  <ion-navbar color="dark">
    <ion-title>SG PLATFORM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="center">
    <div *ngFor="let item of list;let i = index;">
      <div class="group-list-box">
        <div class="group-list float-l">
          <div class="float-l head-icon">
            <img src="{{getFullPath(item.g_image)}}"/>
          </div>
          <div class="float-l group-name">{{item.g_name}}</div>
          <div class="float-l group-num">{{num[i]}}/{{item.g_limit}}</div>
        </div>
        <img src="{{item.imgShow}}" style="margin-top: 18px;" (click)="showCour(i)" class="float-r"/>
      </div>
      <div [ngClass]="{'stu-box stu-show':item.show,'stu-box':!item.show}">
        <div class="choice-class" *ngFor="let stu of item.listStus;let i = index;">
          {{stu.UserName}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
