$color:#404040;
::-webkit-scrollbar
{
  width: 1px;
  height: 1px;
  background-color: #fff;
}
ul,li{
  list-style: none;
}
.danger-text{
  margin: 0;
  font-size: 14px;
}
.mar-btn{
  margin-top: 50px;
}
.go-login{
  font-size: 14px;
  line-height: 0;
  text-align: center;
  color: $color;
}
.item-ios{
  .icon-forward{
    display: none;
  }
  .icon-show{
    display: block;
  }
}
.icon-forward{
  color: #9a9a9a;
  font-size: 20px;
  line-height: 35px;
}
.toolbar-content-ios{
  .head-img{
    width: 1.1em;
    top: 11px;
  }
  .head-top{
    top: 13px;
  }
}
.head-img{
  width: 1.2em;
  position: absolute;
  top: 16px;
  right: 15px;
}
.no-date{
  text-align: center;
  margin-top: 20px;
}
// pad style
.center{
  width: 800px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  table{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    tr{
      border-bottom: 1px solid #e3e4e4;
      height: 70px;
      line-height: 70px;
      font-size: 18px;
      td{
        &:nth-child(1){
          width: 30%;
          font-weight: 900;
          vertical-align: top;
        }
        &:nth-child(2){
          width: 20%;
          vertical-align: top;
        }
        &:nth-child(3){
          width: 50%;
          text-align: left;
          .ranges{
            width: 60%;
            height: 20px;
            border-radius: 50px;
            background: -webkit-linear-gradient(right, #ff732f , #fe4479);
            background: -o-linear-gradient(right, #ff732f , #fe4479);
            background: -moz-linear-gradient(right, #ff732f , #fe4479);
            background: linear-gradient(to right, #ff732f , #fe4479);
          }
        }
      }
    }
  }
  .btn-box{
    width: 320px;
    margin: 60px auto;
    button{
      width: 150px;
      height: 42px;
      border-radius: 15px;
      background: #2bd0c8;
    }
  }
}
