::-webkit-scrollbar
{
  width: 1px;
  height: 1px;
  background-color: #fff;
}
.btn{
  width: 100%;
  position: fixed;
  bottom:0;
  left: 0;
}
.input-border{
  border-bottom: 1px solid #a1a1a1;
  font-size: 16px;
}
.danger-text{
  margin: 0;
  font-size: 14px;
}
