$color: #404040;
page-find-password {
  .sign-name{
    font-size: 24px;
    color:$color ;
    text-align: center;
    height: 100px;
    line-height: 100px;
  }
  .input-wrapper{
    font-size: 16px;
  }
  .item .item-button{
    font-size: 0.5rem;
    background: #2d386a;
    padding: 1.2em 0.7em;
    margin: 0;
  }
}
