page-rsidebar {
  .r-side{
    position: fixed;
    top: 100px;
    right: 30px;
    z-index: 999;
    li{
      position: relative;
      height: 80px;
      line-height: 80px;
      margin: 15px 0;
      color: #FFF;
      .r-list-icon{
        width: 80px;
        height: 80px;
        background: #297078;
        color: #fff;
        border-radius: 500px;
        position: absolute;
        right: 0;
        top:0;
        .img-icon{
          width: 40px;
          margin: 20px;
        }
      }
      .r-list-box{
        height: 80px;
        line-height: 80px;
        background: rgba(0,0,0,0.5);
        padding: 0 100px 0 30px;
        border-radius: 50px;
        img{
          float: left;
          margin-top: 20px;
        }
        div{
          float: left;
          margin: 0 15px;
        }
      }
    }
  }
}
