<ul class="r-side">
  <li>
    <div class="r-list-icon" (click)="groupListShow()">
      <img src="assets/img/group.png" class="img-icon"/>
    </div>
    <div class="r-list-box" *ngIf="showList">
      <img src="../../assets/img/hide-list-r.png" (click)="groupListHide()"/>
      <div *ngFor="let s of groupList.GroupId" ><span (click)="onGroupChange(s.id)">{{s.text}}</span></div>

    </div>
  </li>
  <li>
    <div class="r-list-icon" (click)="onScreen()">
      <img src="assets/img/go.png" class="img-icon"/>
    </div>
  </li>
  <li>
    <div class="r-list-icon">
      <img src="assets/img/detail.png" class="img-icon"/>
    </div>
  </li>
  <li>
    <div class="r-list-icon" (click)="onGoNext()">
      <img src="assets/img/view.png" class="img-icon"/>
    </div>
  </li>
  <li>
    <div class="r-list-icon" (click)="onInput()">
      <img src="assets/img/key.png" class="img-icon"/>
    </div>
  </li>
</ul>

