<ul class="r-side">
  <li>
    <div class="r-list-icon" *ngIf="isGold" (click)="getMapShow()">
      <img src="assets/img/map-btn.png" class="img-icon"/>
    </div>
  </li>
  <li>
    <div class="r-list-icon" (click)="groupListShow()">
      <img src="assets/img/group.png" class="img-icon"/>
    </div>
    <div class="r-list-box" *ngIf="showList">
      <img src="assets/img/hide-list-r.png" (click)="groupListHide()"/>
      <div *ngFor="let s of groupList.GroupId" ><span (click)="onGroupChange(s.id)">{{s.text}}</span></div>

    </div>
  </li>
  <li>
    <div class="r-list-icon" (click)="onScreen()">
      <img src="assets/img/go.png" class="img-icon"/>
    </div>
  </li>
  <li>
    <div class="r-list-icon">
      <img src="assets/img/detail.png" (click)='onGoDetail()'class="img-icon"/>
    </div>
  </li>
  <li>
    <div class="r-list-icon" (click)="onGoNext()" *ngIf="sType!='goldend'">
      <img src="assets/img/view.png" class="img-icon"/>
    </div>
  </li>
  <li>
    <div class="r-list-icon" (click)="onInput()" *ngIf="sType!='default'&&sType!='empty'&&sType!='fork'">
      <img src="assets/img/key.png" class="img-icon"/>
    </div>
  </li>
</ul>

