page-logins {
  .logo{
    display: block;
    width: 40%;
    margin: 40px auto;
    max-width: 200px;
  }
  .user-icon{
    background:url("../../assets/img/icon2.png") no-repeat 0 12px;
    padding-left:20px;
  }
  .lock-icon{
    background:url("../../assets/img/icon1.png") no-repeat 0 12px;
    padding-left:20px;
  }
  .text-input{
    font-size: 16px;
  }
}
