<ion-content >
  <div #topBox ion-fixed class="top_box">
    <div class="div_img">
      <img src="../../assets/img/bdtb.png" style="margin: 5px 0px 0px 6px;width: 41px;height: 44px"/>
    </div>
    <div class="div_title">
      <span>{{title}}</span>
    </div>
    <hr #hr_hid style="background-color: white;width: 95%;margin: 5px 0px 0px 25px;display: inline-flex;">
    <p #nr class="p_content">
      {{content}}</p>
    <div #show_hide>
      <div #show class="ss">
        <img src="../../assets/img/z_mo.png"/>
        <span (click)="show_div()">全部展开</span>
      </div>
      <div #hide class="ss" style="display: none">
        <img src="../../assets/img/z_mo.png" style="transform:rotate(-180deg)"/>
        <span (click)="hide_div()">收起</span>
      </div>
    </div>
  </div>
  <div #list>
  <!--<div  *ngFor="let item of items">-->
    <!--<div>-->
      <!--<img src="{{item.src}}" style="margin:10px 0px 0px 85px;width: 80px;height: 80px"/>-->
      <!--<h3 style="color:white; margin:-73px 0px 25px 185px; ">{{item.name}}</h3><br>-->
      <!--<h5 style="color: white;margin: -30px 0px 25px 185px;">{{item.time}}</h5>-->
      <!--<div-->
        <!--style="background-color: black;background: rgba(0,0,0,0.5);float: left;margin: -20px 0px 0px 185px;width: 71%;height: auto;">-->
        <!--<h5 style="color:#d8d8d8;margin: 10px 20px 10px 25px;">-->
          <!--{{item.nr}}-->
        <!--</h5>-->
      <!--</div>-->
      <!--<hr style="border-top: 1px solid #929292;width: 80%;margin: 50px 0px 15px 95px;float: left" />-->
    <!--</div>-->
  <!--</div>-->

    <div *ngFor="let item of items;let n=index">
      <div>
        <img [src]="item.ImagePath" style="margin:10px 0px 0px 85px;width: 80px;height: 80px"/>
        <h3 style="color:white; margin:-73px 0px 25px 185px; ">{{item.UserName}}</h3><br>
        <h5 style="color: white;margin: -30px 0px 25px 185px;">第{{n+1}}楼 | {{item.createtime}}</h5>
        <div style="background-color: black;background: rgba(0,0,0,0.5);float: left;margin: -20px 0px 0px 185px;width: 71%;height: auto;">
          <h5 style="color:#d8d8d8;margin: 10px 20px 10px 25px;">
            {{item.answer}}
          </h5>
        </div>
        <hr style="border-top: 1px solid #929292;width: 80%;margin: 50px 0px 15px 95px;float: left" />
      </div>
    </div>
  </div>
</ion-content>
