page-pad-decision {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  .form-box{
    width: 100%;
    margin: 20px auto 0;
    label{
      display: inherit;
      padding: 15px 0;
      font-size: 16px;
      line-height: 26px;
      clear: both;
    }
    input{
      width: 16px;
      height: 16px;
      float: left;
      margin: 4px 5px;
    }
    .option{
      float: left;
      width: 50px;
      text-align: center;
      margin-right: 0.5em;
      color: white;
    }
    .word{
      float: left;
      width: 78%;
      color: white;
    }
    input[type="radio"] + .option::before {
      position: relative;
      content: "\a0";
      display: inline-block;
      font-size: 12px;
      width: 1em;
      height: 1em;
      margin-right: 1em;
      border-radius: 50%;
      border: 1px solid #d6d6d6;
      text-indent: .15em;
      line-height: 1;
      padding: .25em;
    }
    input[type="radio"]:checked+ .option::before {
      background-color: #2c3550;
      border:1px solid #d6d6d6;
      background-clip: content-box;
      padding: .25em;
    }
    input[type="radio"]:checked + span{
      color: #2c3550;
    }
    input[type="radio"]:checked + .option + .word{
      color: #2c3550;
    }
    input[type="radio"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }
  }
  .mar-btn{
    button{
      height: 50px;
      background: #2c3550;
      width: 84%;
      position: fixed;
      bottom: 60px;
      left: 8%;
    }
  }
}
