 <ion-header>
  <ion-navbar  hideBackButton="true" color="dark">
    <ion-title>SG平台</ion-title>
    <img src="assets/img/user.png" class="head-img" (click)="getUser()"/>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>项目列表</ion-label>
      <ion-select [(ngModel)]="selectedProject">
        <ion-option value="{{project.p_id}}" *ngFor="let project of projectList">{{project.p_name}}</ion-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>班级列表</ion-label>
      <ion-select [(ngModel)]="selectedClass">
        <ion-option value="{{class.cla_id}}" *ngFor="let class of classList">{{class.cla_name}}</ion-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>项目课程列表</ion-label>
      <ion-select [(ngModel)]="selectedCourse">
        <ion-option value="{{course.cour_id}}" *ngFor="let course of courseList">{{course.cour_name}}</ion-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button (click)="next()"> 下一步</button>
    </ion-item>

  </ion-list>


</ion-content>
