page-pad-group {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  .input-key-box{
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    .input-key{
      width: 74%;
      padding: 0 2%;
      height: 50px;
      background: #fff;
      border: 0;
      border-radius: 5px;
      margin: 15px 5%;
      line-height: 50px;
      font-size: 20px;
    }
    .send{
      width: 10%;
      margin: 15px 5% 0 0;
      color: #fff;
      border-radius: 5px;
      background: #1aa7b8;
      text-align: center;
      height: 50px;
      line-height: 50px;
      border: 0;
      font-size: 20px;
    }
  }
  .pop-box{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left: 0;
    z-index: 99999;
  }
  .map-img-box{
    width: 800px;
    height: 450px;
    margin: 159px auto;
    border-radius: 10px;
    display: block;
  }
  .open-body{
    position: absolute;
    top:25px;
    right: 25px;
  }
}
