page-update {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  .ver-til{
    width: 150px;
    color: #fff;
    margin-left: 50%;
    overflow: hidden;
    position: absolute;
    top:-12px;
    left: -75px;
    .til-name{
      width: 100px;
      text-align: center;
    }
    .bor{
      width: 25px;
      height: 1px;
      background: #fff;
      margin-top: 12px;
    }
  }
  .version-name{
    width: 150px;
    font-size: 18px;
    border:1px solid #fff;
    border-top:none;
    margin: 0 auto;
    text-align: center;
    padding: 5px 15px;
    color: #fff;
    height: 40px;
    line-height: 40px;
  }
  .pos-r{
    position: relative;
  }
  .dark-box{
    width: 80%;
    height: 150px;
    background: rgba(0,0,0,0.5);
    margin: 20px auto;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 14px;
  }
  .btn{
    width: 80%;
    margin: 10px auto;
    height: 46px;
  }
  .logo{
    width: 20%;
  }
  @media (max-width: 320px) {
    .logo{
      margin: 0 auto 20px;
    }
  }
}
