$color:#404040;
page-users {
  .header-box{
    width: 100%;
    overflow: hidden;
  }
  .header-img{
    width: 35%;
    float: left;
  }
  .user-name-box{
    width: 65%;
    margin-top: 20px;
    div{
      color: $color;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .upload-img{
    width: 70px;
    height: 70px;
    margin: 15px auto;
    display: block;
    border-radius: 50px;
  }
}
