page-comment {
  .toolbar-title{
    font-size: 18px;
    font-weight: 100;
  }
  .text-area{
    width: 80%;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 100px;
    border: 0;
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 18px;
  }
  .btn-box{
    width: 485px;
    margin: 30px auto 0;
    button{
      font-size: 18px;
      color: #fff;
      text-align: center;
      line-height: 50px;
      height: 50px;
      width: 200px;
      margin: 0 20px;
      border-radius: 50px;
      padding-left: 26px;
      &:nth-child(1){
        background: url("../../assets/img/qd.png") no-repeat 55px 12px #25aaba;
      }
      &:nth-child(2){
        background: url("../../assets/img/qx.png") no-repeat 55px 12px  #0085b2;
      }
    }
  }
}
