page-operation {
  .operation-box{
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 999;
    color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    min-height: 90px;
    .oper-box{
      width: 90px;
      height: 315px;
      background: rgba(0,0,0,0.5);
      border-radius: 50px;
    }
    .oper-box-hide{
      height: 0px;
    }
    .opers{
      height: 80px;
      img{
        margin-top: 30px;
      }
    }
    .oper{
      height: 45px;
      line-height: 45px;
    }
    .showList{
      width: 90px;
      height: 90px;
      background: #297078;
      border-radius: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      img{
        width: 60px;
        margin: 15px;
      }
    }
    .animate-hide{
      animation:hide 200ms;
    }
    @keyframes hide{
      from{height:315px;}
      to{height:0px;}
    }
    .animate-show{
      animation:move 200ms;
    }
    @keyframes move{
      from{height:0px;}
      to{height:315px;}
    }
  }
}
